<header class="navbar">
  <div class="logo">
    <img
      src="../../../assets/iMG/IMG_9286.PNG"
      alt="Omnipurse Logo"
      class="logo-icon"
    />
    <span>Omnipurse</span>
  </div>
  <nav>
    <a [routerLink]="['']">Home</a>
    <a [routerLink]="['/about-us']">About us</a>
    <a [routerLink]="['/services/services-overview']">Services</a>
    <a [routerLink]="['/products/products-overview']">Products</a>
    <a [routerLink]="['/contact-us']" routerLinkActive="router-link-active"
      >Contact us</a
    >
    <button type="button" class="signin" [routerLink]="['/login']">
      Sign In
    </button>
  </nav>
</header>
<body>
  <div class="auth-container">
    <h2>Please sign in or create an account</h2>

    <div class="auth-box">
      <!-- Login Section -->
      <div class="login-section">
        <h3>Already registered?</h3>
        <form>
          <label for="email">Email Address</label>
          <input
            type="email"
            id="email"
            placeholder="Enter your email"
            required
          />

          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            placeholder="Enter your password"
            required
          />

          <a (click)="openForgotPassword()" class="forgot-link"
            >Forgotten password?</a
          >

          <div class="remember-me">
            <input type="checkbox" id="remember" />
            <label for="remember">REMEMBER ME</label>
          </div>

          <button type="submit" class="sign-in-btn">Sign in</button>
        </form>
      </div>

      <!-- Divider -->
      <div class="divider">
        <span>OR</span>
      </div>

      <!-- Register Section -->
      <div class="register-section">
        <h3>New to us?</h3>
        <p>Creating an account is quick and easy</p>
        <button class="register-btn" (click)="openCreateAccount()">
          Create an account
        </button>
      </div>
    </div>
  </div>
</body>
