<header>
  <app-website-head-menu></app-website-head-menu>
</header>

<Section class="auth-container"><h2>Password Manager</h2>

<form clas="auth-box" resetForm="ngForm" (ngSubmit)="onSubmit()">
    <!-- <div class="form-field">
            <div class="radio-group">
                <label>
                  <input type="radio" name="checkType" value="email" [(ngModel)]="checkType" (change)="oncheckTypeChange()" />
                  Email
                </label>
                <label>
                  <input type="radio" name="checkType" value="userId" [(ngModel)]="checkType" (change)="oncheckTypeChange()" />
                  UserID
                </label>
              </div>
      </div> -->
  <label for="email">Email address</label>
  <input type="email" id="email" name="email" [(ngModel)]="eEmail" required />
  <br/> <br/>
  <label>Plain Text: </label>
  <label>{{plainText}}</label>
<br/>
<br/>
  <button type="submit" mat-raised-button color="primary" [disabled]="isBusy">
    <mat-progress-spinner
                    *ngIf="isBusy"
                    diameter="20"
                    mode="indeterminate"
                    color="accent"
                    style="vertical-align: middle; margin-right: 10px"
                  ></mat-progress-spinner>
                  {{ isBusy ? "Retrieving..." : "Check" }}
    
  </button>
   &nbsp;&nbsp;&nbsp;
                
    <button type="button" mat-raised-button color="warn" (click)="onClearClick()">
        Clear
    </button>


</form></Section>

<div  class="auth-container">
<div>
  <h2>Conversion</h2>
</div>


 <div class="radio-group">
                <label>
                  <input type="radio" name="checkType" value="cipher" [(ngModel)]="checkType" (change)="oncheckTypeChange()" />
                  cipher
                </label>
                <label>
                  <input type="radio" name="checkType" value="plain" [(ngModel)]="checkType" (change)="oncheckTypeChange()" />
                  plain
                </label>
              </div>
              <br/>
              <div>
                <label>{{textType}}</label>
  <input type="text" id="textvalue" name="textvalue" [(ngModel)]="eTextValue" required />
  <br/> <br/>
  <label>{{textTypeInvert}}: </label>
  <label>{{outputValue}}</label>
  <br/>
<br/> 
  <button type="button" mat-raised-button color="primary" [disabled]="isCBusy" (click)="conversion()">
    <mat-progress-spinner
                    *ngIf="isBusy"
                    diameter="20"
                    mode="indeterminate"
                    color="accent"
                    style="vertical-align: middle; margin-right: 10px"
                  ></mat-progress-spinner>
                  {{ isCBusy ? "converting..." : "Convert" }}
    
  </button>
   &nbsp;&nbsp;&nbsp;
                
    <button type="button" mat-raised-button color="warn" (click)="onConversionClearClick()">
        Clear
    </button>
              </div>
              </div>