<section class="footer">
  <div class="contact-access-pane">
<div class="contact-item">
      <!-- <div class="icon address-icon"></div> -->
      <!-- Company Links -->
    <div class="tas-footer-section tas-footer-links">
      <h4 class="tas-footer-heading">LINKS</h4>
      <ul class="tas-footer-nav">
        <li><a href="">Home</a></li>
        <li><a href="/about-us">About us</a></li>
        <li><a href="/services/services-overview">Our services</a></li>
        <li><a href="/products/products-overview">Products</a></li>
        <li><a href="/faq">FAQs</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
      </ul>
    </div>
    </div>

    <div class="contact-item">
      <div class="icon address-icon"></div>
      <h4>ADDRESS</h4>
      <p>
        The first gate,<br />
        8 Emmanuel Ajasa street, Lafenwa,<br />
        Ado-odo ota, Ogun
      </p>
    </div>

    <div class="contact-item">
      <div class="icon phone-icon"></div>
      <h4>PHONES</h4>
      <p>Phone: <a href="tel:+2349128510854">+234-912-851-0854</a></p>
    </div>

    <div class="contact-item">
      <div class="icon email-icon"></div>
      <h4>CONTACTS</h4>
      <p><a href="mailto:omnipurse.ltd@gmai.com">omnipurse.ltd@gmail.com</a></p>
    </div>

    <div class="contact-item">
      <div class="icon hours-icon"></div>
      <h4>WORKING HOURS</h4>
      <p>Monday–Friday<br />(9:00 – 17:00)</p>
    </div>
  </div>

  <div class="connect-pane">
    <h2>CONNECT WITH US</h2>
    <div class="social-icons">
      <a
        href="#"
        class="social twitter"
        aria-label="Twitter"
        target="_blank"
      ></a>
      <a
        href="#"
        class="social facebook"
        aria-label="Facebook"
        target="_blank"
      ></a>
      <a
        href="#"
        class="social instagram"
        aria-label="Instagram"
        target="_blank"
      ></a>
      <a
        href="#"
        class="social whatsapp"
        aria-label="WhatsApp"
        target="_blank"
      ></a>
      <a
        href="#"
        class="social youtube"
        aria-label="YouTube"
        target="_blank"
      ></a>
      <a href="#" class="social tiktok" aria-label="TikTok" target="_blank"></a>
    </div>
  </div>
</section>

<footer class="footer-bottom">
  <p>&copy; 2025 Omnipurse Ltd. All rights reserved.</p>
</footer>

